@charset "ISO-8859-1";

#ePForm.container {
	animation: slide-up ease-in-out 0.9s;
}

#ePForm.container > * {
	animation: slide-up ease-in-out 0.7s;
}

#ePForm > h1 {
	text-align: center;
	font-size: 1.5em;
}

div.errorMsg {
	color: red;
	margin: 0;
}