@charset "ISO-8859-1";

#login-form {
	margin: 25px;
	min-width: 400px;
	min-height: 150px;
}

#login-form.container {
	animation: slide-up ease-in-out 0.8s;
}

#login-form.container > * {
	animation: slide-up ease-in-out 0.6s;
}

#login-form > h1 {
	text-align: center;
	font-size: 1.5em;
}

#labels, #input-boxes {
	float: left;
}

#labels {
	width: 35%;
	text-align: right;
}

#input-boxes {
	width: calc(65% - 25px);
	padding-left: 25px;
}

#labels > label,
#input-boxes > input {
	display: block;
}

#login {
	padding: 25px;
	text-align: center;
}