@charset "ISO-8859-1";

.center-div{
	margin:0 auto;
}
.details-div{
	margin:0 auto;
	width:800px;
}
.buildListDiv{
	margin:0 auto;
 	width:400px; 
}
.criteriaListDiv{
	vertical-align:top;
	display:inline-block;
	margin-left:25%;
/* 	margin:0 auto; */
/* 	width:400px; */
}
.inline-block{
	display:inline-block;
}
.criteria-container{
	width:400px;
}
.disabled{
	background:#808080;
}
table{
	border-collapse: collapse;
	margin:0 auto;
}
td{
	padding:5px;
	border:black 2px solid;
}
.td-data{
	width:300px;
}